#li1{
    width: 300px;
    height: 100px;
}

li{
    background-color: rgb(208, 162, 218);
    color: black;
    width: 300px;
    height: 150px;

    border: inset 3px black;

    font-size: 50px;
    text-decoration:  underline overline;
}

p{
    color: black;
}